mixin tableDataCart(source,quantity,sum)
    tr
        td
            img(src=source)
        td Lắc tay D&G
        td
            span 345.000đ
        td
            input(class='product__quantity')(type='number')
        td
            span=sum
        td
            button.delete--item
                i.far.fa-trash-alt

mixin TotalCart()
    tr
        td
        td
        td
        td
        td