@mixin arrowLeft {
  border-right: 20px solid;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 40%;
}


@mixin arrowRight {
  border-left: 20px solid;
  z-index: 10;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 40%;
}


@mixin titleProductShowCase {
  position: absolute;
  top: 40%;
  left: 25%;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

@mixin infoLinkStyling {
  text-decoration: none;
  color: $color-very-light-gray;
  font-size: $font-size-sm;
  font-weight: 400
}

@mixin infoButtonStyling {
  font-size: $font-size-sm;
  border: 1px solid #e6e6e6;
  padding: 0.5rem 1rem;
  font-size: $font-size-sm;
  margin: 0 0.5rem 1rem 0;
  outline: none;
  cursor: pointer;
}

@mixin listHeading {
  font-weight: bold;
  font-size: 1.9rem;
  text-transform: uppercase;
}

@mixin borderBottomDotted {
  border-bottom: 0.2rem dotted #e8e8e8;
}

@mixin borderBottomSolid {
  border-bottom: 1.5px solid #dedddd80;
}

@mixin ctaButton {
  font-weight: 700;
  border: #e6e6e6 1px solid;
  outline: none;
  border-radius: 1.2rem;
  margin-right: 0.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
}