//font size
$font-size-sm: 1.2rem;
$font-size-md: 1.6rem;

//color
$color-dark-green: #789629;
$color-boder-bottom-gray: #e6e6e6;
$color-legacy-border-color: #dedddd80;
$color-product-jewelry: #88d8da;
$color-legacy-list: #8b8b8b;
$color-testimonial-button-1: #131313;
$color-testimonial-button-2: #737373;
$color-light-gray: #e8e8e8;
$color-very-light-gray: #bababa;
///footer color
$color-gray-footer-text: rgba(134,134,134,0.490196);
$color-gray-footer-h3: #b7b7b7;
$color-footer-border: #86868636;
////=====================================///
$color-white: #fff;
$color-dark-gray: #050505;
$color-black: #000;
//font family

$font-display-1: 'Open Sans', sans-serif;