//font size
$font-size-sm: 1.2rem;
$font-size-md: 1.6rem;

//color
$color-dark-green: #789629;
$color-boder-bottom-gray: #e6e6e6;
$color-legacy-border-color: #dedddd80;
$color-product-jewelry: #88d8da;
$color-legacy-list: #8b8b8b;
$color-testimonial-button-1: #131313;
$color-testimonial-button-2: #737373;

//font family

$font-display-1: 'Open Sans', sans-serif;