@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/reset";
@import "./abstracts/variables";

@import "./base/animation";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";
@import "./pages/home";
@import "./layouts/header";
@import "./components/navigation";

