.nav {
  width: 118rem;
  height: 7.2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1000;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;

    ul li {
      margin: 2rem 2rem;
      font-size: $font-size-md;
      font-weight: 700;
    }
  }

  &__logo {
    flex: 1;
  }

  &-button {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;

    .fas {
      font-size: $font-size-md;
    }
  }
}

.logo-square {
  position: relative;
  width: 55px;
  height: 55px;
  background: $color-dark-green;
  border-radius: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  position: absolute;
  left: 0;
  padding: 1rem 0.5rem;
}
