mixin itemInfomationLeft(source)
    .content__item__info
        .content__item__text.text--left
            h5 the mark of a legend
            .item-text
                p Tự hào được ghi là năm mà Tyffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
        .content__item__img.img-right
            img(src=source)

mixin itemInfomationRight(source)
    .content__item__info
        .content__item__text.text--right
            h5 the mark of a legend
            .item-text
                p Tự hào được ghi là năm mà Tyffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
        .content__item__img.img-left
            img(src=source)

