@keyframes slider {
  0% {
    left: 0;
  }
  40% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  90% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
@keyframes sliderProduct {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -12.5%;
  }
  45% {
    left: -12.5%;
  }
  50% {
    left: -25%;
  }
  70% {
    left: -25%;
  }
  75% {
    left: -37.5%;
  }
  95% {
    left: -37.5%;
  }
  100% {
    left: -50%;
  }
}