body {
  font-family: $font-display-1;
}

@font-face {
  font-family: 'UTMasgraceland';
  src: url(./assets/fonts/UTMASGraceland.ttf);
}

@font-face {
  font-family: "Curlz MT";
  src: url(./assets/fonts/CurlzMT.ttf);
}