.box .path__content {
  @include borderBottomSolid
}

.blog__detail {
  margin-bottom: 5rem;
  &__content {
    width: 100%;
    display: flex;
    aside {
      width: 25%;
    }
  }
}
.blog__pin {
  &__posts {
    .posts__item {
      display: flex;
      margin-top: 3rem;

      &__description {
        margin-left: 2rem;

        h4 {
          font-size: 2.8rem;
          font-weight: 700;

          small {
            font-size: 1.4rem;
          }
        }

        p {
          font-size: 1.4rem;
          font-style: italic;
        }
      }
    }
  }
  &__tag {
    margin-top: 5rem;
    .tag__btn {
      margin-top: 3rem;
      button[type='button'] {
      @include infoButtonStyling;
        background-color: $color-white;
      }
      button[type='button']:hover {
        color: $color-white;
        background-color: $color-dark-green;
      }
    }
  }
  &__video {
    margin-top: 5rem;
    .video__image{
      width: 97%;
      height: 20rem;
      background-image: url("./assets/images/video.jpg");
      background-size: cover;
      background-position: center;
      margin: 1rem 0 2rem;
      &--overlay {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .overlay--icon {
          width: 6rem;
          height: 6rem;
          background: #0000006b;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          cursor: pointer;
          transition: all 0.3s;
          i {
            color: $color-white ;
            margin-right: 0;
          }
        }
      }
    }
    .video__image:hover .overlay--icon {
      opacity: 1;
    }
  }
}

.blog__pin .aside__title {
  color: #000;
  font-size: 1.8rem;
  font-weight: inherit;
  @include borderBottomSolid;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.blog__pin .aside__title:nth-last-child(2) {
  font-weight: 700;
}

.blog__article {
  margin-left: 1.5rem;
  img {
    width: 100%;
    margin-top: 3rem;
  }
  &__title {
    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 600;
      margin-top: 6.2rem;
      padding-bottom: 2rem;
      @include borderBottomSolid
    }
  }
  &__content {
    p {
      font-size: $font-size-md;
      margin: 3rem 0;
      line-height: 1.8;
    }
    span {
      color: $color-light-gray;
      font-size: 1.8rem;
      font-weight: 400;
      font-style: italic
    }
    .blog__article__btn {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      border-top: 1.5px solid #dedddd80;
      a {
        text-decoration: none;
        color: $color-light-gray;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
  &__tag {
    display: flex;
    margin-top: 5rem;
    @include borderBottomSolid;
    padding-bottom: 1.5rem;
    h5 {
      color: $color-light-gray;
      font-size: 1.8rem;
      font-weight: inherit;
      margin-right: 1.5rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  &__comment {
    margin-top: 2rem;
    h3 {
      text-transform: uppercase;
      color: $color-black;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .form-group {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
        label {
          width: 10%;
          font-size: 1.6rem;
          color: #000;
          font-weight: 400;
          margin-bottom: 0.5rem;
          small {
            margin-left: 0.5rem;
            color: $color-dark-green;
          }
        }
      input[type='text'], input[type='email'], textarea {
        width: 90%;
        border: 1.5px solid #dedddd80;
        padding: 1rem;
      }
    }
    .form-btn {
      margin-top: 3rem;
      a {
        background: $color-black;
        color: $color-white;
        font-size: 1.4rem;
        padding: 1rem 2rem;
        outline: none;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        margin-left: 10%;
        text-decoration: none;
      }
    }
  }
}