.blog  {
  width: 100%;
  .blog__title h1 {
    font-size: 2.8rem;
    color: $color-black;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2rem 0;
  }
  .list__content__pagination {
      @include listPagination
    }
  }

.box .path__content {
  @include borderBottomSolid
}

.blog__content {
  margin-bottom: 4rem;
  .posts {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .post__item {
      margin-top: 3rem;
      img {
        width: 100%;
      }
      a {
        color: $color-black;
        text-decoration: none;
        h5 {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          margin-top: 0.5rem;
          @include borderBottomSolid;
          font-weight: 600;
        }
        }
      p {
        font-size: $font-size-sm;
        padding-right: 1rem;
        margin-bottom: 0.6rem;
      }
      span {
        color: darken($color-light-gray,20%);
        font-size: $font-size-sm;
        font-weight: 400;
        font-style: italic;
      }
      .posts__item__btn {
        display: flex;
        justify-content: space-between;
        border-top: 1.5px solid #dedddd80;
        margin-top: 1rem;
        padding-top: 1rem;
        a {
          text-decoration: none;
          color: darken($color-light-gray,20%);
          font-size: $font-size-sm;
          font-weight: 400;
        }
      }
      }
    }
    .first-column {
      padding-right: 2rem;
    }
    .mid-column{
      padding:0 1rem;
    }
    .third-column{
      padding-left: 2rem;
    }
  }


