.cart__content {
  width: 100%;
  &__title {
    h1 {
      font-size: 22px;
      color: $color-black;
      text-transform: uppercase;
      font-weight: 500;
      padding: 2rem;
    }
    }
  &__table {
    table {
      width: 100%;
      border: 1px solid #e8e8e8;
      border-collapse: collapse;
      text-align: center;
      margin-bottom: 5rem;
      th {
        background-color: $color-light-white;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0.5rem 0;
      }
      td {
        font-size: 1.3rem;
        padding: 1.5rem 0;
        border: 0.1rem solid $color-light-gray;
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
        img {
          width: 40%;
        }
        span {
          font-family: "Lobster", cursive;
          font-size: $font-size-md;
        }
      }
    }
  }
  &__btn {
    margin: 3rem 0 8rem;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 1rem;
      background: $color-black;
      color: $color-white;
      font-size: $font-size-sm;
      font-weight: 600;
      padding: 0.9rem 2rem;
      outline: none;
      cursor: pointer;
      border: none;
      text-transform: uppercase;

      &:hover {
        background-color: $color-dark-green;
      }
    }
  }
  .cart__content__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
    h4 {
      margin-right: 20px;
    }
    span {
      font-family: "Lobster",cursive;
      font-size: 2.6rem;
      color: $color-dark-green;
      letter-spacing: 0.15rem;
      margin-right: 1rem;
    }
  }
  }

.delete--item {
  cursor: pointer;
  border: none;
  height: 10px;
  i {
    font-size: 18px;
  }
}

.delete--item:active {
  color: blue;
}
.delete--item:focus {
  color: red;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.product__quantity {
  width: 27%;
  height: 45px;
  padding: 10px 10px;
}

.cart__content__title {
  display: flex;
  justify-content: space-between;
  .total {
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2rem;
    &__value {
      font-family: "Lobster", cursive;
      font-size: 20px;
      padding: 20px;
    }
  }
  }

.cart__content__nothing {
  text-align: center;
  margin: 40px 0;
  h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: 2px 2px #b4b4b47a;
    font-size: 2rem;
    color: black;
  }
  a {
    background: #000;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
  }
  }

.process {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  .progressbar {
    background-color: black;
    border-radius: 35px;
    padding: 10px;
    .page-cart {
      width: 33.33%;
      background-color: #789629;
      height: 30px;
      border-radius: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        margin-right: 20px
      }
    }
  }
}