.cart__content {
  width: 100%;
  &__title {
    h1 {
      font-size: 2.8rem;
      color: $color-black;
      text-transform: uppercase;
      font-weight: 500;
      padding: 2rem;
    }
    }
  &__table {
    table {
      width: 100%;
      border: 1px solid #e8e8e8;
      border-collapse: collapse;
      text-align: center;
      margin-bottom: 5rem;
      th {
        background-color: $color-light-white;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0.5rem 0;
      }
      td {
        font-size: 1.3rem;
        padding: 1.5rem 0;
        border: 0.1rem solid $color-light-gray;
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
        img {
          width: 40%;
        }
        span {
          font-family: "Lobster", cursive;
          font-size: $font-size-md;
        }
      }
    }
  }
  &__btn {
    margin: 3rem 0 8rem;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 1rem;
      background: $color-black;
      color: $color-white;
      font-size: $font-size-sm;
      font-weight: 600;
      padding: 0.9rem 2rem;
      outline: none;
      cursor: pointer;
      border: none;
      text-transform: uppercase;

      &:hover {
        background-color: $color-dark-green;
      }
    }
  }
  }

.delete--cart {
  cursor: pointer;
  border: none;
  height: 10px;
  i {
    font-size: 18px;
  }
}

.delete--cart:active {
  color: blue;
}
.delete--cart:focus {
  color: red;
}