.contact {
  width: 100%;
  margin-bottom: 8rem;
  &__title {
    h1 {
      font-size: 2.8rem;
      color: $color-black;
      text-transform: uppercase;
      font-weight: 500;
      padding: 2rem 0;
    }
  }
  &__content {
    display: flex;
    &__img {
      flex: 1;
      padding-right: 1.5rem;
    }
    &__form {
      flex: 1;
      padding-left: 1.5rem;
      width: 100%;
      label {
        color: $color-black;
        font-size: $font-size-sm;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      &__title {
        h3 {
          text-transform: uppercase;
          margin-bottom: 2rem;
          color: $color-black;
          font-size: $font-size-md;
          font-weight: 400;
        }
      }
      &__group {
        .form-group {
          display: flex;
          flex-direction: row;
          margin-bottom: 2rem;
          label {
            flex: 1;
          }
          input {
            padding: 1rem 1.5rem;
            margin-bottom: 0.5rem;
            border: none;
            outline: none
          }
          input,
          textarea {
            flex: 5;
            border: 0.1rem solid #e8e8e8;
          }
          textarea {
            padding-left: 1rem;
            outline: none;
          }
          input {
            margin-left: 5px;
          }
        }
        &__btn {
          float: right;
          a {
            background: $color-black;
            color: $color-white;
            font-size: $font-size-sm;
            padding: 0.5rem 2rem;
            outline: none;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
    form {
      width: 100%;
    }
  }
}

// Responsive
@media screen and (max-width: 1300px) {
  .contact__content {
    flex-direction: column;

    &__img {
      width: 100%;
      padding-right: 0 !important;

      img {
        width: 100%;
      }
    }

    &__form {
      padding-left: 0 !important;
      margin-top: 40px;
    }
  }
}