.newsletter {
  height: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -9.2rem;

  &__content {
    width: 600px;
    height: 600px;
    background-image: url(./assets/images/bg-popup.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    @include tablet {
      width: 400px;
      height: 400px;
    }
    @include mobile {
      width: 200px;
      height: 200px;
    }

    h3 {
      font-size: 2.8rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-weight: 700;
      @include mobile {
        margin-top: 85px;
        font-size: 18px;
      }
    }

    p {
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: 0;
      font-family: "Open Sans",sans-serif;
      color: $color-matte-gray;
      letter-spacing: 1px;
      @include tablet {
        margin-top: 22px;
        margin-bottom: -13px;
        letter-spacing: 0;
      }
      @include mobile {
        top: 11px;
        left: 2%;
        font-size: 9.8px;
      }
    }

    input {
      display: block;
      width: 65%;
      height: 4rem;
      padding: 1rem 2rem;
      margin-top: 2rem;
      border-radius: 2.5rem;
      outline: none;
      border: 1px solid #dcdcdc;
      @include mobile{
        margin-top: 14px;
      }
    }

    a {
      @include font-a($color-black, 1.4rem, 500);
      text-transform: uppercase;
      margin-top: 3rem;
      @include mobile {
        margin-top: 0;
      }
    }

    &__icon {
      position: absolute;
      top: -7rem;

      img {
        cursor: pointer;
      }
    }
  }
}