doctype html
include ./account/mixin_account.pug
head
    include abstracts/meta
body.container
    include components/navigation
section.path
    .box
        .path__content
            ul
                li
                    a(href='./index.html') Home
                    i.fas.fa-angle-right
                li
                    a(href='#')#path__content--red Tài khoản
section
    .box
        .account
            article
                .account__content
                    .account__content__title
                        h1 Tài khoản
                    .account__content__table
                        table
                            tr
                                each val in ['Order', 'Date', 'TÌNH TRẠNG THANH TOÁN','TỔNG', 'NỢ']
                                    th=val
                            +tableDataAcc('0')
                            +tableDataAcc('0')
                            +tableDataAcc('0')
                            +tableDataAcc('275.000đ')
            aside
                .account__info
                    .account__info__title
                        h3 Chi tiết tài khoản
                    .account__info__user.info__item
                        i.fas.fa-user
                        .description
                            h2 GiangLe
                            p  Leanhgiang89@gmail.com
                    .account__info__address.info__item
                        i.fas.fa-map-marker-alt
                        .description
                            p Tòa nhà Hà Nội group 442 Đội Cấn, Ba Đình Hà Nội
                    .account__info__phone.info__item
                        i.fas.fa-phone-alt
                        p (04) 3786 8904
footer.footer
    include layouts/footer