doctype html
include ./list/mixin_list.pug
include ./blog/mixin_blog.pug
head
    include abstracts/meta
body.container
    include components/navigation
section.path.blog__path
    .box
        .path__content
            ul
                li
                    a(href='#') Home
                    i.fas.fa-angle-right
                li
                    a(href='#') Blog
section
    .box.blog__box
        .blog
            .blog__title
                h1 BLOG
            .blog__content
                +listBlog
                .posts
                    -let imageSrc =['./assets/images/blog-img7.jpg','./assets/images/blog-img2.jpg','./assets/images/blog-img9.jpg','./assets/images/blog-img4.jpg','./assets/images/blog-img3.jpg','./assets/images/blog-img6.jpg','./assets/images/blog-img8.jpg','./assets/images/blog-img5.jpg','./assets/images/blog-img1.jpg',]
                    - let column= ['first-column', 'mid-column', 'third-column','first-column', 'mid-column', 'third-column','first-column', 'mid-column', 'third-column']
                    -for (let i = 0; i< imageSrc.length; i++)
                    -for (let i= 0; i <column.length; i++)
                            +postItem(imageSrc[i], column[i])
                +listBlog
footer.footer
    include layouts/footer