doctype html
include ./cart/mixin_cart
include ./payment/mixin_payment.pug
    
head
    include abstracts/meta
body.container
    include components/navigation
section.section__detail--path
    .box
        .path__content
            ul
                li
                    a(href='#') Home
                    i.fas.fa-angle-right
                li
                    a(href='#') Sản phẩm
                    i.fas.fa-angle-right
.box
    +process("page-cart", "Step 1: Giỏ hàng")
section
    .box
        .cart__content
            .cart__content__title
                    h1 Giỏ hàng
            .cart__content__table
                table.cart__table
                    thead
                        tr
                            each val in ['Ảnh', 'tên sản phẩm', 'giá','số lượng', 'tổng số','xóa']
                                th=val
                    tbody.table__body
            .cart__content__total
                h4 TỔNG CỘNG:
                span.total__value
            .cart__content__btn
                button.buying(type="button") Tiếp tục mua hàng
                button.delete(type="button") Xóa
                a(href='./infomation.html')
                    button.payment(type="button") Thanh toán
script(src="./cart.js" type="text/javascript")
script(src="./grid.js" type="text/javascript")
footer.footer
    include layouts/footer