doctype html
head
    include abstracts/meta.pug
body.container
    include components/navigation.pug
main
    include layouts/header.pug
section.section__policy
    include home/policy
section.section__products-showcase
    include home/product_showcase.pug
section.section__testimonial
    include home/testimonial.pug
section.section__legacy
    include home/legacy.pug
section.section__socials
    include home/socials.pug
section.section__info
    include home/info.pug
footer.footer
    include layouts/footer.pug