.box
    .legacy__title
        .main
            .legacy__title__new Sản phẩm mới
            .legacy__title__hot Sản phẩm bán chạy
            .legacy__title__special Sản phẩm đặc biệt
        .legacy__title__decoration
            img(src='./assets/images/footer-decor.jpg' alt="text footer decoration")
        .legacy__title__menu
            .menu
                ul
                    each val in ['Mỹ phẩm', '.', 'Chăm sóc da', 'Nước hoa','.', 'Trang sức', '.', 'Quà tặng']
                        li= val
        .legacy__title__menu--vertical
            .menu
                ul
                    .menu--vertical
                        each val in ['Mỹ phẩm', 'Chăm sóc da', 'Dành cho tóc']
                            li
                                a(href='#')=val
                    .menu--vertical
                        each val in ['Nước hoa', 'Trang sức', 'Quà tặng']
                            li
                                a(href='#')=val
include mixin_home
.legacy__items
    figure
        - let title = ['Emu Oil', 'Marc Jacobs', 'Savon Stories','Home','OHUI', 'DEBORAH LIPPMANN','HOME', 'DEBORA']
        - let classNames =['legacy-detail1','legacy-detail2','legacy-detail3', 'legacy-detail4','legacy-detail5','legacy-detail6','legacy-detail7','legacy-detail8']
        - let imgSource =['./assets/images/product1.jpg','./assets/images/product2.jpg','./assets/images/product3.jpg','./assets/images/product4.jpg','./assets/images/product5.jpg','./assets/images/product6.jpg','./assets/images/product7.jpg','./assets/images/product8.jpg']
        -for (let i = 0; i < title.length; i++)
        -for (let i = 0; i < classNames.length; i++)
        -for (let i = 0; i < imgSource.length; i++)
          +legacy(title[i],classNames[i], imgSource[i])





