.box
    .policy
        .policy__transport
            i.fas.fa-plane
            p Miễn phí vận chuyển
        .policy__gift
            i.fas.fa-gift
            p Nhận ngay quà tặng trí giá 350.000đ
        .policy__discount
            i.fas.fa-star
            p Giảm 30% cho đơn hàng trên 5.000.000đ
