.box
    .products
        .products__showergel
            .products__showergel--image
                img.products-image(src="./assets/images/img8.jpg" alt="shower gel")
            .content
                .content--background
                .content__arrow--left.arrow-left
                .content__title
                    p sữa tắm
                    img(src='./assets/images/footer-decor.jpg' alt="text footer decoration")
        .products__perfume
            .content
                .content--background
                .content__arrow--right.arrow-right
                .content__title
                    p nước hoa
                    img(src="./assets/images/footer-decor.jpg" alt="text footer decoration")
            .products__perfume--image
                img.products-image(src="./assets/images/img14.jpg" alt="perfume product leaf")
                .content
                    p từ; 1/6 - 5/6/2015
                    span.price
                        | -40
                        small %
                    br
                    a.buy(href='grid.html') mua hàng
        .products__corinne2015
            .products__corinne
                .content
                    .content--overlay--img
                        img(src='./assets/images/play.png')
                    p corinne 2015
        .products__combo
            .content
                img(src="./assets/images/img10.jpg" alt="product combo")
                .content__title
                    p compo tắm trắng
                    span Tại Nhà
        .products__jewelry
            .content
                .content--background
                .content__arrow--right.arrow-right
                .content__title
                    p trang sức
                    img(src='./assets/images/footer-decor.jpg' alt="text footer decoration")
            .products__jewelry--image
                img.products-image(src="./assets/images/img9.jpg" alt="jewelry")
        .products__daisy
            .products__daisy--image
                img.products-image(src="./assets/images/img11.jpg" alt="mdel")
            .content
                .content--background
                .content__arrow--left.arrow-left
                img(src="./assets/images/daisy.png" alt="daisy product")
                .content__title
                    p Quyến rũ hơn
                    span
                        | cùng
                        big DAISY
                