include mixin_home
.mandala__socials
    +social('FACEBOOK', 'facebook__icon', 'fa-facebook')
    +social('TWITTER', 'twitter__icon', 'fa-twitter')
    +social('INSTAGRAM', 'twitter__icon', 'fa-instagram')
    +social('GOOGLE+', 'google+__icon', 'fa-google-plus-g')
    +social('PINTEREST', 'pinterest__icon', 'fa-pinterest')
    +social('LINKEDIN', 'linkedin__icon', 'fa-linkedin-in')
    