header {
  width: 100%;
  height: 75px;
  background: #f4f4f40a;
  position: absolute;
  border-bottom: 1px solid #dedddd80;
  z-index: 1000;
}

.header__background {
  height: 80rem;
  width: 100%;
  background-image: url("./assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.header__content {
  position: absolute;
  top: 65%;
  text-align: center;
      h2 {
        color: $color-dark-green;
        font-family: 'Indie Flower', cursive;
        font-size: 13.6rem;
        font-weight: 500;
      }
      p {
        font-size: 1.7rem;
        font-family: inherit;
        margin-bottom: 1rem;
      }
      span {
        font-size: 45.24px;
        font-weight: 300;
        font-family: inherit;
      }
}


.btn label {
  display: block;
  color: #353535;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 1rem;
}
