.header__background
    .box
        .header__content
            h2 Green Vera
            p Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
            span Giá chỉ 750.000d
            br
            .btn
                label
                    a(href="./list.html") Mua hàng
            
            
            
