header
    .box
        .nav
            .nav__logo
                .nav__logo--square.logo-square
                    a(href='index.html')
                        img.logo-img(src='./assets/images/logo.png' alt='logo company')
            .nav__menu
                ul.menu
                    li Trang chủ
                    li Giới thiệu
                    li Sản phẩm
                    li Tin tức
                    li Bản đồ
                    li Liên hệ
            .nav-button
                i.fas.fa-shopping-cart
                i.fas.fa-search
        
        

