.nav
    img(src='./assets/images/logo.jpg' alt='company logo')
    ul.menu
        li Trang chủ
        li Giới thiệu
        li Sản phẩm
        li Tin tức
        li Bản đồ
        li Liên hệ
    i.fas.fa-shopping-cart
    i.fas.fa-search

