header
    .box
        .nav
            .nav__logo
                .nav__logo--square.logo-square
                    a(href='index.html')
                        img.logo-img(src='./assets/images/logo.png' alt='logo company')
            .nav__menu
                ul.menu
                    li
                        a(href='./index.html') Trang chủ
                    li
                        a(href='./detail.html') Giới thiệu
                    li
                        a(href='#') Sản phẩm
                    li
                        a(href='./blog.html') Tin tức
                    li
                        a(href='#') Bản đồ
                    li
                        a(href='./contact_us.html') Liên hệ
            .nav-button
                i.fas.fa-shopping-cart
                i.fas.fa-search
        
        

